<% if flash[:notice].present? %>
  <h1><%= flash[:notice] %></h1>
<% end %>
<%= form_tag send_custom_email_path do %>
  <table>
    <tr>
      <td>
        <%= label_tag :email_server %>*  
      </td>
      <td>
        <%= text_field_tag :email_server, nil %>  
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag :user_name %>*  
      </td>
      <td>
        <%= text_field_tag :user_name, nil %>  
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag :user_password %>*  
      </td>
      <td>
        <%= password_field_tag :password, nil %>  
      </td>
    </tr>

    <tr>
      <td>
        <%= label_tag :template %>* 
      </td>
      <td>
        <%= select_tag :template, options_from_collection_for_select(@email_templates, "id", "name") %> 
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag :email %>*  
      </td>
      <td>
        <%= email_field_tag :email, nil %>
      </td>
    </tr>
  </table>
  <%= submit_tag "Submit" %>
<% end %>